asgiref==3.2.7
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
Django==3.1.12
django-allauth==0.39.1
django-bootstrap4==0.0.8
httplib2==0.11.3
idna==2.7
oauthlib==2.1.0
pyaml==17.12.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
python3-openid==3.1.0
pytz==2018.5
PyYAML==5.1
requests==2.21.0
requests-oauthlib==1.0.0
rsa==3.4.2
six==1.11.0
sqlparse==0.3.1
urllib3==1.25.9
uWSGI==2.0.17.1
