<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% load socialaccount %}
    {% providers_media_js %}
  <script type="text/javascript" src="{% static 'list.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}"/>

</head>

<body>

<div class="container-fluid body-content">
  <nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'request_manager:pieces-list' %}">Pieces list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'request_manager:queue' %}">Queue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'request_manager:history' %}">History</a>
        </li>
      </ul>
    </div>
    <div style="float: right" class="user-avatar">
    <div style="vertical-align: middle">
    {% if user.is_authenticated %}
      Logged as {{user.username}}
      <a class="btn btn-primary" role="button" href="/logout">Log out</a>
    {% else %}
      {% load socialaccount %}
      {% providers_media_js %}
      <a class="btn btn-primary" href="{% provider_login_url 'twitch' %}">Log In</a>
    {% endif %}
    </div>
    </div>
  </nav>

    {% block content %}
    {% endblock %}
</div>
</body>

</html>